checkpoint.ipynb
ComputingMeasures/.ipynb_checkpoints/FilteringData-checkpoint.ipynb
ComputingMeasures/.ipynb_checkpoints/ConcentrationMeasures-checkpoint.ipynb
ComputingMeasures/.ipynb_checkpoints/ConcentrationMeasures-checkpoint.ipynb
ComputingMeasures/.ipynb_checkpoints/ConcentrationMeasures-checkpoint.ipynb
ComputingMeasures/.ipynb_checkpoints/ConcentrationMeasures-checkpoint.ipynb
*.tex
*.csv
